.bannerPrincipal{
    background-color: #FF3FA4;
}

.imgRobo{
    max-width: 50%;
    max-height: 350px;
}

p{
    color: white;
    align-content: flex-start;
    align-items: center;
}

.rodapé{
    background-color: #FF3FA4;
    color: white;
}

button{
    background-color: #FF3FA4;
    color: white;
    border:white 2px inset;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}